---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="About us"
    image={{
      src: '~/assets/images/ceo.jpeg',
      alt: 'CEO Image',
      height: 576,
      width: 576,
    }}
  >
    <Fragment slot="title">
      Meet our CEO <br/>
      <span class="text-accent dark:text-white highlight">our story about Image Relayout</span>
    </Fragment>

    <Fragment slot="subtitle">
      Peter is a highly experienced Art Director specializing in relayout work for film posters and app screenshots. 
      With 12 years in the field, he has a proven track record of transforming cinematic visuals and optimizing app interfaces for enhanced user experiences. 
      Known for his creative vision and strategic approach, Peter is a sought-after professional in the dynamic realms of film promotion and digital design.
    </Fragment>
  </Hero2>

  <!-- Stats Widget ****************** -->

  <!--<Stats-->
  <!--  title="Statistics about us"-->
  <!--  stats={[-->
  <!--    {title: 'Offices', amount: '4'},-->
  <!--    {title: 'Employees', amount: '248'},-->
  <!--    {title: 'Templates', amount: '12'},-->
  <!--    {title: 'Awards', amount: '24'},-->
  <!--  ]}-->
  <!--/>-->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our applications"
    subtitle="In exploring many use cases of the world of image relayout, we are currently support the relayout work for many use cases"
    columns={4}
    isBeforeContent={true}
    items={[
      {
        title: 'App screenshot',
        description:
          'Screenshot adaptation for many screen sizes, enabling studios to speed up the application life cycle.',
        icon: 'tabler:template',
      },
      {
        title: 'Digital painting',
        description:
          'Design adaptation for many social platform, enabling the Social team to reach customers faster than ever.',
        icon: 'tabler:template',
      },
      {
        title: 'Film posters',
        description:
          'Massive image adapation for different film studios, faster to replace and produce new posters for your film',
        icon: 'tabler:template',
      },
      {
        title: 'Event backdrops',
        description:
          'You just need to design once, and let us do the resizing for your events',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: '~/assets/images/image-resize.jpg',
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->

  <!--<Features3-->
  <!--  columns={3}-->
  <!--  isAfterContent={true}-->
  <!--  items={[-->
  <!--    {-->
  <!--      title: 'E-commerce',-->
  <!--      description:-->
  <!--        'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Blog',-->
  <!--      description:-->
  <!--        'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Business',-->
  <!--      description:-->
  <!--        'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Branding',-->
  <!--      description:-->
  <!--        'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Medical',-->
  <!--      description:-->
  <!--        'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Fashion Design',-->
  <!--      description:-->
  <!--        'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',-->
  <!--      icon: 'tabler:template',-->
  <!--    },-->
  <!--  ]}-->
  <!--  image={{-->
  <!--    src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',-->
  <!--    alt: 'Colorful Image',-->
  <!--  }}-->
  <!--/>-->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Your best choice of tools doing the image adaption."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Less configuration for more productivity with our improved UX for design tooling.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Consistent roadmap support for images and videos with AI-backed technology.',
      },
      {
        title: 'Competitive pricing',
        description:
          'Our offer is the best on market of image adaptation.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <!--<Steps2-->
  <!--  title="Achievements"-->
  <!--  subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."-->
  <!--  isReversed={true}-->
  <!--  callToAction={{-->
  <!--    text: 'See more',-->
  <!--    href: '/',-->
  <!--  }}-->
  <!--  items={[-->
  <!--    {-->
  <!--      title: 'Global reach',-->
  <!--      description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',-->
  <!--      icon: 'tabler:globe',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Positive customer feedback and reviews',-->
  <!--      description:-->
  <!--        'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',-->
  <!--      icon: 'tabler:message-star',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Awards and recognition as industry experts',-->
  <!--      description:-->
  <!--        'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',-->
  <!--      icon: 'tabler:award',-->
  <!--    },-->
  <!--  ]}-->
  <!--/>-->

  <!-- Features2 Widget ************** -->

  <!--<Features2-->
  <!--  title="Our locations"-->
  <!--  tagline="Find us"-->
  <!--  columns={4}-->
  <!--  items={[-->
  <!--    {-->
  <!--      title: 'EE.UU',-->
  <!--      description: '1234 Lorem Ipsum St, 12345, Miami',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Spain',-->
  <!--      description: '5678 Lorem Ipsum St, 56789, Madrid',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Australia',-->
  <!--      description: '9012 Lorem Ipsum St, 90123, Sydney',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Brazil',-->
  <!--      description: '3456 Lorem Ipsum St, 34567, São Paulo',-->
  <!--    },-->
  <!--  ]}-->
  <!--/>-->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={3}
    items={[
      {
        title: 'Mail us',
        description:
          'We are always available at <a href="mailto:support@ilayout.net">support@ilayout.net</a>',
        icon: 'tabler:messages',
      },
      {
        title: 'Chat with us',
        description:
          'We are always available at telegram <a href="https://t.me/peterphuong92">@peterphuong92</a>',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'We are always available at <br/>+(084) 937606922',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
