---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from "../components/common/Image.astro";
import Form from "../components/widgets/Form.astro";

const metadata = {
  title: 'iLayout — Platform for relayout assets like a professional',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register for Alpha program',
        href: 'https://docs.google.com/forms/d/e/1FAIpQLSdVYzEZFKmedTLw-L5JdI9ZAnMxcvq4587HL3dBv18OQhAUCw/viewform',
        target: '_blank',
        icon: 'tabler:user-plus',

      },
      {text: 'Learn more', href: '#features'},
    ]}
    image={{src: '~/assets/images/layout.png', alt: 'iLayout Hero Image'}}
  >
    <Fragment slot="title">
      Platform for relayout assets like a <span class="text-accent dark:text-white highlight"> professional</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">iLayout</span> help you to do the adaptation for images and videos to any screen size
        for any purposes with lightning speed.</span
      >
      <!--<span class="block mb-1 sm:hidden font-bold text-blue-600">iLayout: Production-ready.</span>-->
      <span class="hidden sm:inline">
      <br/>iLayout clear the gap between designs and real life use cases.
      <br/>We support you to relayout your design and get your results in shortest time by offering many smart algorithms, and 
      a design library can help you with your design  
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note/>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with iLayout"
    subtitle="One of the most professional and comprehensive toolkits currently offered on the market. "
    items={[
      {
        title: 'Easy-to-use Editor',
        description:
          'A handful and easy-to-use flow offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Components made by our experienced professional ready to be used at any level',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly products that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Rendering Speed',
        description:
          'Having a good rendering speed impacts your performance, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'AI Assistant',
        description:
          "Being future-proof with our professional AI trained with best practices from all over the world.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your products adaptation with any sizes with iLayout."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Prepare your assets</span>',
        description:
          "Design and prepare your assets package!",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Do the re-layouting</em>',
        description:
          "Align and choose how your components will be scaled.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Preview your results</span>',
        description:
          'Preview and do your adjustments any time.',
        icon: 'tabler:paint',
      },
      {
        title: 'Hit the button for Generating!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/transforming.png',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that iLayout offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{container: 'max-w-6xl'}}
    items={[
      {
        title: 'Why iLayout?',
        description:
          "Using iLayout helps you save costs and time, thereby increasing productivity and giving you more time to invest in more creative work.",
      },
      {
        title: 'What do I need to start with?',
        description:
          "Step 1: Register an account on iLayout<br/>" +
          "Step 2: Choose a suitable subscription package or try the free trial<br/>" +
          "Step 3: Log in to the editor platform and start experiencing<br/>",
      },
      {
        title: 'How can I learn to use the platform?',
        description:
          "You can watch video tutorials directly on the platform or from our YouTube channel or download the instruction manual here.",
      },
      {
        title: "What happen if I stop my plan/ subscription?",
        description:
          "You continue to have access to iLayout member free benefits (Free plan).",
      },
      {
        title: 'Which payment options can I use to purchase  iLayout membership?',
        description:
          "Credit card payment is accepted for iLayout memberships in all supported countries. Payment via PayPal is accepted in only a few supported countries. See Payment options.\n" +
          "Where can I find information on new features in iLayout?",
      },
      {
        title: 'Where can I find information on new features in iLayout?',
        description:
          "You can learn all about the latest features in iLayout on the overview page. To find out what’s in the latest version, check out on layout.net",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      {title: 'Users', amount: '48.4K'},
      {title: 'Loves', amount: '24.8K'},
      {title: 'Donates', amount: '10.3K'},
      {title: 'Downloads', amount: '132K'},
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Stats>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Try it now',
        href: 'https://app.ilayout.net',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      iLayout Platform
    </Fragment>

    <Fragment slot="subtitle">
      Don't way any more before trying out what we can offer!
    </Fragment>
  </CallToAction>
</Layout>
