---
import {UI} from "~/utils/config";
import Image from "./common/Image.astro";
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image
    id="logo-white"
    width={160}
    height={50}
    src={"~/assets/images/white-logo.png"}
    alt={"site-logo"}
  />
  <Image
    id="logo-black"
    width={160}
    height={50}
    style="display: none"
    src={"~/assets/images/black-logo.png"}
    alt={"site-logo"}
  />
</span>

